deploymentMode: SimpleScalable

loki:
  image:
    registry: registry.dev-dify.ctc.local
    repository: dev/monitoring/loki
    tag: 3.6.3
  
  auth_enabled: false

  server:
    http_listen_port: 3100
    grpc_listen_port: 9095
    grpc_server_max_recv_msg_size: 8388608
    grpc_server_max_send_msg_size: 8388608
  
  limits_config:
    reject_old_samples: false
    reject_old_samples_max_age: 168h
    max_cache_freshness_per_query: 10m
    split_queries_by_interval: 15m
    query_timeout: 300s
    volume_enabled: true
    ingestion_rate_mb: 15
    ingestion_burst_size_mb: 30
    per_stream_rate_limit: 10MB
    per_stream_rate_limit_burst: 20MB
    retention_period: 744h
    max_query_length: 0h

  commonConfig:
    path_prefix: /var/loki
    replication_factor: 1
    ring:
      kvstore:
        store: memberlist
  
  compactor:
    retention_enabled: true
    delete_request_store: s3
    working_directory: /var/loki/compactor

  storage:
    type: s3

    bucketNames:
      chunks: loki-chunks
      ruler: loki-ruler

    s3:
      endpoint: minio.dev-dify.ctc.local:9000
      region: us-east-1
      accessKeyId: jIT8OuPgkgS3zymLhgnH
      secretAccessKey: VPxMX0CvaxdY3qKcQdPRGVbu7gfkITPW8hLf8KrP
      s3ForcePathStyle: true
      insecure: true
      signatureVersion: v4

  schemaConfig:
    configs:
      - from: 2026-01-20
        store: tsdb
        object_store: s3
        schema: v13
        index:
          prefix: index_
          period: 24h
  
  ui:
    enabled: true

  podLabels:
    #app.kubernetes.io/name: dev-loki
    app.kubernetes.io/role: logging
    #app.kubernetes.io/instance: dev-loki
    app.kubernetes.io/version: 3.6.3
    app.kubernetes.io/managed-by: helm
    app.kubernetes.io/project: redis-qdrant
    app.kubernetes.io/environment: dev

serviceAccount:
  create: true
  name: dev-loki-sa
  automountServiceAccountToken: true

write:
  replicas: 1

  targetModule: "write"

  resources:
    requests:
      memory: "128Mi"
      cpu: "250m"
    limits:
      memory: "512Mi"
      cpu: "500m"

  podLabels:
    #app.kubernetes.io/name: dev-loki
    app.kubernetes.io/role: logging
    #app.kubernetes.io/instance: dev-loki
    app.kubernetes.io/version: 3.6.3
    app.kubernetes.io/managed-by: helm
    app.kubernetes.io/project: redis-qdrant
    app.kubernetes.io/environment: dev
  
  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
          - matchExpressions:
              - key: nodepool
                operator: In
                values:
                  - dev-monitoring
  
  tolerations:
    - key: "nodepool"
      operator: "Equal"
      value: "dev-monitoring"
      effect: "NoSchedule"
  
  persistence:
    accessModes:
      - ReadWriteOnce
    size: 5Gi
    storageClass: "dev-monitoring-openebs-sc"

read:
  replicas: 1
  targetModule: "read"

  resources:
    requests:
      memory: "128Mi"
      cpu: "250m"
    limits:
      memory: "512Mi"
      cpu: "500m"

  podLabels:
    #app.kubernetes.io/name: dev-loki
    app.kubernetes.io/role: logging
    #app.kubernetes.io/instance: dev-loki
    app.kubernetes.io/version: 3.6.3
    app.kubernetes.io/managed-by: helm
    app.kubernetes.io/project: redis-qdrant
    app.kubernetes.io/environment: dev

  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:  
          - matchExpressions:
              - key: nodepool
                operator: In
                values:
                  - dev-monitoring
  
  tolerations:
    - key: "nodepool"
      operator: "Equal"
      value: "dev-monitoring"
      effect: "NoSchedule"
  
  persistence:
    accessModes:
      - ReadWriteOnce
    size: 5Gi
    storageClass: "dev-monitoring-openebs-sc"

backend:
  replicas: 1
  targetModule: "backend"

  resources:
    requests:
      memory: "128Mi"
      cpu: "250m"
    limits:
      memory: "512Mi"
      cpu: "500m"
  
  podLabels:
    #app.kubernetes.io/name: dev-loki
    app.kubernetes.io/role: logging
    #app.kubernetes.io/instance: dev-loki
    app.kubernetes.io/version: 3.6.3
    app.kubernetes.io/managed-by: helm
    app.kubernetes.io/project: redis-qdrant
    app.kubernetes.io/environment: dev
  
  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
          - matchExpressions:
              - key: nodepool
                operator: In
                values:
                  - dev-monitoring
  
  tolerations:
    - key: "nodepool"
      operator: "Equal"
      value: "dev-monitoring"
      effect: "NoSchedule"

  persistence:
    accessModes:
      - ReadWriteOnce
    size: 5Gi
    storageClass: "dev-monitoring-openebs-sc"

gateway:
  enable: true

  image:
    registry: registry.dev-dify.ctc.local
    repository: dev/monitoring/nginx-unprivileged
    tag: 1.29-alpine
  
  resources:
    requests:
      memory: "128Mi"
      cpu: "100m"
    limits:
      memory: "256Mi"
      cpu: "250m"
  
  podLabels:
    #app.kubernetes.io/name: dev-loki
    app.kubernetes.io/role: logging
    #app.kubernetes.io/instance: dev-loki
    app.kubernetes.io/version: 3.6.3
    app.kubernetes.io/managed-by: helm
    app.kubernetes.io/project: redis-qdrant
    app.kubernetes.io/environment: dev

  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
          - matchExpressions:
              - key: nodepool
                operator: In
                values:
                  - dev-monitoring
  
  tolerations:
    - key: "nodepool"
      operator: "Equal"
      value: "dev-monitoring"
      effect: "NoSchedule"
  
  nginxConfig:
    schema: http
    resolver: "coredns.kube-system.svc.cluster.local"

memberlist:
  joinMembers:
    - loki-backend-headless.dev-monitoring.svc.cluster.local:7946

chunksCache:
  resources:
    requests:
      memory: "256Mi"
      cpu: "100m"
    limits:
      memory: "512Mi"
      cpu: "250m"

  podLabels:
    #app.kubernetes.io/name: dev-loki
    app.kubernetes.io/role: logging
    #app.kubernetes.io/instance: dev-loki
    app.kubernetes.io/version: 3.6.3
    app.kubernetes.io/managed-by: helm
    app.kubernetes.io/project: redis-qdrant
    app.kubernetes.io/environment: dev

  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
          - matchExpressions:
              - key: nodepool
                operator: In
                values:
                  - dev-monitoring
  
  tolerations:
    - key: "nodepool"
      operator: "Equal"
      value: "dev-monitoring"
      effect: "NoSchedule"

resultsCache:
  resources:
    requests:
      memory: "256Mi"
      cpu: "100m"
    limits:
      memory: "512Mi"
      cpu: "250m"
  
  podLabels:
    #app.kubernetes.io/name: dev-loki
    app.kubernetes.io/role: logging
    #app.kubernetes.io/instance: dev-loki
    app.kubernetes.io/version: 3.6.3
    app.kubernetes.io/managed-by: helm
    app.kubernetes.io/project: redis-qdrant
    app.kubernetes.io/environment: dev

  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
          - matchExpressions:
              - key: nodepool
                operator: In
                values:
                  - dev-monitoring
  
  tolerations:
    - key: "nodepool"
      operator: "Equal"
      value: "dev-monitoring"
      effect: "NoSchedule"