daemonset:
  enabled: true

image:
  registry: registry.dev-dify.ctc.local
  repository: dev/monitoring/promtail
  tag: "3.5.1"

resources:
    requests:
      memory: "100Mi"
      cpu: "100m"
    limits:
      memory: "100Mi"
      cpu: "100m"

rbac:
  create: true

serviceAccount:
  create: true
  name: "dev-promtail-sa"

automountServiceAccountToken: true

tolerations:
  - operator: "Exists"

defaultVolumes:
  - name: run
    hostPath:
      path: /run/promtail
  - name: pods
    hostPath:
      path: /var/log/pods

defaultVolumeMounts:
  - name: run
    mountPath: /run/promtail
  - name: pods
    mountPath: /var/log/pods
    readOnly: true

serviceMonitor:
  enabled: true
  interval: 30s
  scrapeTimeout: 10s
  labels:
    releases: kube-prometheus-stack

config:
  enabled: true
  serverPort: 3101

  clients:
    - url: http://loki-write.dev-monitoring.svc.cluster.local:3100/loki/api/v1/push
      tenant_id: default
  
  positions:
    filename: /run/promtail/positions.yaml

podLabels:
  app.kubernetes.io/name: promtail
  app.kubernetes.io/role: logging
  app.kubernetes.io/instance: promtail
  app.kubernetes.io/version: 3.5.1
  app.kubernetes.io/managed-by: helm
  app.kubernetes.io/project: redis-qdrant
  app.kubernetes.io/environment: dev