apiVersion: v1
kind: Endpoints
metadata:
  name: harbor-metrics
  namespace: dev-monitoring
subsets:
  - addresses:
      - ip: registry.dev-dify.ctc.local
    ports:
      - name: http-metrics
        port: 9090

---

apiVersion: v1
kind: Service
metadata:
  name: harbor-metrics
  namespace: dev-monitoring
  labels:
    app: harbor
spec:
  type: ClusterIP
  ports:
    - name: http-metrics
      port: 9090
      targetPort: 9090

---

apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: harbor
  namespace: dev-monitoring
  labels:
    release: kube-prometheus-stack
spec:
  namespaceSelector:
    matchNames:
      - dev-monitoring
  selector:
    matchLabels:
      app: harbor
  endpoints:
    - port: http-metrics
      path: /metrics
      interval: 30s
