alertmanager:
  enabled: true

  serviceAccount:
    create: true
    name: ""
    annotations: {}
    automountServiceAccountToken: true

  service:
    enabled: true
    port: 9093
    targetPort: 9093
    nodePort: 30903
  
  serviceMonitor:
    selfMonitor: true
  
  alertmanagerSpec:
    image:
      registry: quay.io
      repository: prometheus/alertmanager
      tag: v0.30.1
    
    storage:
      volumeClaimTemplate:
        spec:
          storageClassName: "openebs-lvmpv"
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 2Gi
    
    resources:
      limits:
        cpu: 500m
        memory: 512Mi
      requests:
        cpu: 250m
        memory: 256Mi
    
    affinity:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
            - matchExpressions:
                - key: nodepool
                  operator: In
                  values:
                    - dev-monitoring