crds:
  enabled: true
  upgradeJob:
    enabled: false
    image:
      busybox:
        registry: registry.dev-dify.ctc.local
        repository: dev/monitoring/busybox
        tag: "1.31.1"

alertmanager:
  enabled: true

  additionalLabels:
    app.kubernetes.io/role: monitoring
    app.kubernetes.io/version: 0.87.1
    app.kubernetes.io/project: redis-qdrant
    app.kubernetes.io/environment: dev

  serviceAccount:
    create: true
    name: "dev-alertmanager-sa"
    annotations: {}
    automountServiceAccountToken: true

  service:
    enabled: true
    port: 9093
    targetPort: 9093
    nodePort: 30903
  
  serviceMonitor:
    selfMonitor: true
    interval: 30s
    additionalLabels:
      release: kube-prometheus-stack
  
  alertmanagerSpec:
    podMetadata:
      labels:
        app.kubernetes.io/role: monitoring
        app.kubernetes.io/version: 0.87.1
        app.kubernetes.io/project: redis-qdrant
        app.kubernetes.io/environment: dev

    image:
      registry: registry.dev-dify.ctc.local
      repository: dev/monitoring/alertmanager
      tag: v0.30.1
    
    storage:
      volumeClaimTemplate:
        spec:
          storageClassName: "dev-monitoring-openebs-sc"
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 2Gi
    
    resources:
      limits:
        cpu: 500m
        memory: 512Mi
      requests:
        cpu: 250m
        memory: 128Mi
    
    affinity:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
            - matchExpressions:
                - key: nodepool
                  operator: In
                  values:
                    - dev-monitoring

    tolerations:
      - key: "nodepool"
        operator: "Equal"
        value: "dev-monitoring"
        effect: "NoSchedule"

grafana:
  enabled: true

  image:
    registry: registry.dev-dify.ctc.local
    repository: dev/monitoring/grafana
    tag: "12.3.1"

  nameOverride: "dev-grafana"

  overrideReleaseName: "dev-grafana"

  serviceAccount:
    create: true
    name: "dev-grafana-sa"
    automountServiceAccountToken: true

  resources:
    limits:
      cpu: 500m
      memory: 512Mi
    requests:
      cpu: 250m
      memory: 128Mi

  labels:
    app.kubernetes.io/role: monitoring
    app.kubernetes.io/version: 0.87.1
    app.kubernetes.io/project: redis-qdrant
    app.kubernetes.io/environment: dev
    app.kubernetes.io/managed-by: Helm

  podLabels:
    app.kubernetes.io/role: monitoring
    app.kubernetes.io/version: 0.87.1
    app.kubernetes.io/project: redis-qdrant
    app.kubernetes.io/environment: dev
    app.kubernetes.io/managed-by: Helm

  persistence:
    enabled: true
    type: pvc
    storageClassName: "dev-monitoring-openebs-sc"
    accessModes:
      - ReadWriteOnce
    size: 5Gi
  
  service:
    portName: http-web
  
  serviceMonitor:
    enabled: true
    path: /metrics
    labels:
      release: kube-prometheus-stack
    interval: 30s
    scheme: http
    scrapeTimeout: 30s

  tolerations:
    - key: "nodepool"
      operator: "Equal"
      value: "dev-monitoring"
      effect: "NoSchedule"
  
  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
          - matchExpressions:
              - key: nodepool
                operator: In
                values:
                  - dev-monitoring

prometheusOperator:
  enabled: true

  livenessProbe:
    enabled: false
  
  readinessProbe:
    enabled: false

  admissionWebhooks:
    enabled: true
    deployment:
      enabled: false
    patch:
      enabled: true
      image:
        registry: registry.dev-dify.ctc.local
        repository: dev/monitoring/kube-webhook-certgen
        tag: 1.7.4
    
  image:
    registry: registry.dev-dify.ctc.local
    repository: dev/monitoring/prometheus-operator
    tag: "v0.87.1"
  
  prometheusConfigReloader:
    image:
      registry: registry.dev-dify.ctc.local
      repository: dev/monitoring/prometheus-config-reloader
      tag: "v0.87.1"
  
  thanosImage:
    registry: registry.dev-dify.ctc.local
    repository: dev/monitoring/thanos
    tag: "v0.40.1"

  serviceAccount:
    create: true
    name: "dev-prometheus-operator-sa"
    automountServiceAccountToken: true
  
  service:
    nodePort: 30080
    type: ClusterIP
  
  serviceMonitor:
    enabled: true
    additionalLabels:
      release: kube-prometheus-stack
    interval: 30s
  
  tolerations:
    - key: "nodepool"
      operator: "Equal"
      value: "dev-monitoring" 
      effect: "NoSchedule"
  
  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
          - matchExpressions:
              - key: nodepool
                operator: In
                values:
                  - dev-monitoring
  
  resources:
    limits:
      cpu: 500m
      memory: 512Mi
    requests:
      cpu: 250m
      memory: 128Mi
  
  labels:
    app.kubernetes.io/name: dev-prometheus-operator
    app.kubernetes.io/project: redis-qdrant
    app.kubernetes.io/environment: dev
    app.kubernetes.io/instance: dev-prometheus-operator
    app.kubernetes.io/version: 0.87.1
    app.kubernetes.io/role: monitoring
    app.kubernetes.io/managed-by: Helm
  
  podLabels:
    app.kubernetes.io/name: dev-prometheus-operator
    app.kubernetes.io/instance: dev-prometheus-operator
    app.kubernetes.io/version: 0.87.1
    app.kubernetes.io/role: monitoring
    app.kubernetes.io/project: redis-qdrant
    app.kubernetes.io/environment: dev
    app.kubernetes.io/managed-by: Helm

prometheus:
  enabled: true

  serviceAccount:
    create: true
    name: "dev-prometheus-sa"
    automountServiceAccountToken: true
  
  service:
    enabled: true
    port: 9090
    targetPort: 9090
    type: ClusterIP
  
  serviceMonitor:
    selfMonitor: true
    interval: 30s
    additionalLabels:
      release: kube-prometheus-stack
  
  additionalLabels:
    app.kubernetes.io/version: 0.87.1
    app.kubernetes.io/role: monitoring
    app.kubernetes.io/project: redis-qdrant
    app.kubernetes.io/environment: dev

  prometheusSpec:
    image:
      registry: registry.dev-dify.ctc.local
      repository: dev/monitoring/prometheus
      tag: v3.9.1
  
    podMetadata:
      labels:
        app.kubernetes.io/version: 0.87.1
        app.kubernetes.io/project: redis-qdrant
        app.kubernetes.io/environment: dev
        app.kubernetes.io/role: monitoring

    tolerations:
      - key: "nodepool"
        operator: "Equal"
        value: "dev-monitoring"
        effect: "NoSchedule"
    
    affinity:
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
            - matchExpressions:
                - key: nodepool
                  operator: In
                  values:
                    - dev-monitoring
    
    retention: 1d
    retentionSize: 9GiB

    serviceMonitorSelectorNilUsesHelmValues: false
    serviceMonitorSelector: {}
    serviceMonitorNamespaceSelector: {}

    tsdb:
      outOfOrderTimeWindow: 1h

    resources:
      limits:
        cpu: 500m
        memory: 512Mi
      requests:
        cpu: 250m
        memory: 128Mi
    
    storageSpec:
      volumeClaimTemplate:
        spec:
          storageClassName: "dev-monitoring-openebs-sc"
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 10Gi

thanosRuler:
  enabled: false

prometheus-node-exporter:
  image:
    registry: registry.dev-dify.ctc.local
    repository: dev/monitoring/node-exporter
    tag: "v1.10.2"

kube-proxy:
  enabled: true
  endpoints:
    - 10.10.0.10
    - 10.10.0.11
    - 10.10.0.12
    - 10.10.0.13
    - 10.10.0.14
    - 10.10.0.15
    - 10.10.0.16
    - 10.10.0.17

kubeControllerManager:
  endpoints:
    - 10.10.0.10

kubeEtcd:
  enabled: false
  endpoints:
    - 10.10.0.10

kubeScheduler:
  enabled: false
  endpoints:
    - 10.10.0.10

coreDns:
  service:
    selector:
      app.kubernetes.io/name: coredns