replicaCount: 3

nameOverride: "dev-qdrant-cluster"

image:
  repository: registry.dev-dify.ctc.local/dev/vector/qdrant
  tag: "v1.16.3"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP

resources:
  requests:
    memory: "128Mi"
    cpu: "200m"
  limits:
    memory: "512Mi"
    cpu: "500m"

additionalLabels:
  app.kubernetes.io/role: database
  app.kubernetes.io/version: 1.16.3
  app.kubernetes.io/managed-by: Helm
  app.kubernetes.io/project: redis-qdrant
  app.kubernetes.io/environment: dev

podLabels:
  app.kubernetes.io/role: database
  app.kubernetes.io/version: 1.16.3
  app.kubernetes.io/managed-by: Helm
  app.kubernetes.io/project: redis-qdrant
  app.kubernetes.io/environment: dev

tolerations:
  - key: "nodepool"
    operator: "Equal"
    value: "dev-data"
    effect: "NoSchedule"

affinity:
  nodeAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      nodeSelectorTerms:
        - matchExpressions:
            - key: "nodepool"
              operator: "In"
              values:
                - "dev-data"
  podAntiAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      - labelSelector:
          matchExpressions:
            - key: app.kubernetes.io/name
              operator: In
              values:
                - qdrant
        topologyKey: "kubernetes.io/hostname"

persistence:
  accessModes: ["ReadWriteOnce"]
  size: 10Gi
  storageClassName: "dev-qdrant-openebs-sc"

config:
  cluster:
    enabled: true
    p2p:
      port: 6335
      enable_tls: false

serviceAccount:
  create: true
  name: "dev-qdrant-sa"

metrics:
  serviceMonitor:
    enabled: true
    scrapeInterval: 30s
    targetPort: http
    targetPath: "/metrics"
    additionalLabels:
      release: kube-prometheus-stack

apiKey:
  valueFrom:
    secretKeyRef:
      name: dev-qdrant-api-key
      key: QDRANT__SERVICE__API_KEY

