replicaCount: 3

image:
  repository: docker.io/qdrant/qdrant
  tag: "v1.16.3"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP

resources:
  requests:
    memory: "512Mi"
    cpu: "250m"
  limits:
    memory: "512Mi"
    cpu: "250m"

tolerations:
  - key: "nodepool"
    operator: "Equal"
    value: "dev-data"
    effect: "NoSchedule"

affinity:
  nodeAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      nodeSelectorTerms:
        - matchExpressions:
            - key: "nodepool"
              operator: "In"
              values:
                - "dev-data"
  podAntiAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      - labelSelector:
          matchExpressions:
            - key: app.kubernetes.io/name
              operator: In
              values:
                - qdrant
        topologyKey: "kubernetes.io/hostname"

persistence:
  accessModes: ["ReadWriteOnce"]
  size: 10Gi
  storageClassName: "openebs-lvmpv-wffc"

config:
  cluster:
    enabled: true
    p2p:
      port: 6335
      enable_tls: false

serviceAccount:
  create: true
  name: "dev-qdrant-sa"

metrics:
  serviceMonitor:
    enabled: true
    scrapeInterval: 30s
    targetPort: http
    targetPath: "/metrics"

apiKey:
  valueFrom:
    secretKeyRef:
      name: dev-qdrant-api-key
      key: QDRANT__SERVICE__API_KEY

